@media screen and (min-width: 768px) {
    .shirt-display {
        width: 500px;
    }
    .shirt {
            height: 500px;
            width: 500px;
    }
    .product-info {
        width: 500px;
    }
    .login-container {
        width: 600px;
    }
    .login-register {
       input {
           width: 300px;
       }
    }
}

@media screen and (min-width: 992px) {
    .shirt-display {
        width: 375px;
    }
    .shirt {
            height:375px;
            width: 375px;
    }
    .product-info {
        width: 375px;
    }
    .single-product-container {
        width: 90vw;
        flex-direction: row;
        div {
            height: 500px;
            width: 500px;
        }
    }
    .size-container {
        width: 400px;
        @include flex(space-evenly, flex-start, column);
        height: 500px;
        margin-left: 15px;
    }
     .login-container {
        width: 900px;
    }
    .login-register {
       h1 {
           font-size: 3.5rem;
       }
       button {
           width: 300px;
       }
       input {
           width: 400px;
           margin: 25px 0;
           font-size: 1.3rem;
       }
    }
}

@media screen and (min-width: 1100px) {

   .single-product-container {
        div {
            height: 600px;
            width: 600px;
        }
   }
   .size-container {
       margin-left: 50px;
       height: 600px;
       width: 600px;
       h1 {
           font-size: 3rem;
       }
       h3 {
           font-size: 2.5rem;
       }
       h5 {
           font-size: 2rem;
       }
       .sizes {
           align-self: center;
       }
       button  {
           align-self: center;
           
       }
   }
}