$background-color: #F6F6F6;
$menu-color: #3b3b3b;
$text: #000;
$blue-green: #38AAA9;
$red: #EB272A;
$orange: #ffa154;
$yellow: #ffc654;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

.container {
    width: 80%;
    margin: 0 auto;
}

// Buttons

.btn {
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.blue-green-btn {
    background-color: $blue-green;
    color: #fff;
    &:hover {
        background-color: darken($blue-green, 10%);
        transition: 0.5s;
    }
}

.dark-grey-btn {
    background-color: $menu-color;
    color: #fff; 
    &:hover {
        background-color: lighten($menu-color, 10%);
        transition: 0.5s;
    } 
}