@import 'utilities';

* {
    box-sizing: border-box;
}


body {
    background-color: $background-color;
    color: $text;
    font-family: 'Raleway', sans-serif;
}

.page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 8vh;
}


@import 'Header';
@import 'Landing';
@import 'Login-Register';
@import 'products';
@import 'Cart';
@import 'Admin';
@import 'Account';

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $menu-color;
    color: #fff;
    padding-top: 10px;
    z-index: 5;
    
}

.footer-wrapper {
    width: 50vw;
    margin: 0 auto;
    @include flex(space-between, center, row);
    p {
        text-align: center;
    }
    img {
        height: 25px;
        width: 25px;
    }
}

.social {
    h1 {
        font-size: 1.3rem;
    }
    img {
        margin: 15px;
    }
}

.email-newsletter {
    h1 {
        font-size: 1.3rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p {
        margin-left: -27px;
        margin-bottom: 20px;
    }
    input {
        width: 300px;
        height: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    button {
        height: 30px;
        width: 130px;
    }
}

@import 'media-queries';